/*
Rappel de la syntaxe :

@font-face {
    font-family: 'Roboto';
    src: url(../font/Roboto-Regular.ttf);
}

*/

@font-face {
    font-family: 'Quicksand';
    src: url(../font/static/Quicksand-SemiBold.ttf);
}

@font-face {
    font-family: 'Poppins';
    src: url(../font/Poppins-Black.ttf);
}