*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}

.limit-size {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
}

body {
  box-sizing: border-box;
  scroll-behavior: smooth;
  background-color: #f8f8f8;
  line-height: 1.5;
}

p,
a,
label {
  font-family: "Quicksand";
  text-decoration: none;
  font-size: 0.8rem;
}

ul {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Quicksand";
  color: #1b1d21;
}

h2 {
  font-weight: 700;
  font-size: 20px;
  line-height: 52px;
  text-align: center;
  color: #e55039;
}

h3 {
  font-weight: 700;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  color: #1b1d21;
}

.poppins {
  font-family: "Poppins";
}

.quicksand {
  font-family: "Quicksand";
}

.darkerblue {
  color: #1b1d21;
}

.white {
  color: #f8f8f8;
}

.maincolor {
  color: #8accec;
}

.header-main {
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: #8accec;
}
.header-main nav ul {
  display: flex;
  align-items: center;
}
.header-main nav ul li a {
  display: flex;
  align-items: center;
}
.header-main .logo {
  margin-left: 1rem;
}
@media screen and (min-width: 950px) {
  .header-main .logo {
    margin-right: auto;
    margin-left: 5rem;
  }
}
.header-main #searchbar {
  display: none;
}
@media screen and (min-width: 650px) {
  .header-main #searchbar {
    width: 30%;
    height: 55px;
    border-radius: 100vw;
    margin: 0 auto;
    cursor: pointer;
    background: #f8f8f8;
    box-shadow: 0 0 5px hsl(0, 0%, 78%);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .header-main #searchbar form {
    display: flex;
    align-items: center;
    margin: 2rem 2rem;
  }
  .header-main #searchbar .location,
  .header-main #searchbar .check-in,
  .header-main #searchbar .guests {
    margin-right: 1rem;
    width: 25%;
  }
  .header-main #searchbar input[type=text] {
    background: none;
    border: none;
    width: 100%;
  }
  .header-main #searchbar input[type=text]:hover {
    transition: background 250ms ease;
    background: hsl(0, 0%, 94%);
  }
  .header-main #searchbar button {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    margin-left: 5rem;
    background-color: #0b4a6f;
  }
}
.header-main .user {
  margin-left: 5rem;
  margin-right: auto;
}
.header-main #sub-nav {
  display: flex;
  align-content: space-between;
  align-items: center;
  background-color: #f8f8f8;
  overflow: scroll;
  display: none;
}
.header-main #sub-nav .taglist {
  width: 50%;
  overflow: hidden;
}
.header-main #sub-nav .taglist a {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: space-between;
  margin: auto 1.5rem;
}
.header-main #sub-nav .taglist img {
  height: 60px;
}
.header-main #sub-nav .arrow {
  position: absolute;
  width: 2rem;
  height: 2rem;
  background: transparent;
  border-top: 0.5rem solid #0b4a6f;
  border-right: 0.5rem solid #0b4a6f;
  box-shadow: 0 0 0 lightgray;
  transition: all 200ms ease;
}
.header-main #sub-nav .arrow.left {
  left: 0;
  transform: translate3d(0, -50%, 0) rotate(-135deg);
}
.header-main #sub-nav .arrow.right {
  right: 0;
  transform: translate3d(0, -50%, 0) rotate(45deg);
}
.header-main #sub-nav .arrow:hover {
  border-color: #8accec;
  box-shadow: 0.5rem -0.5rem 0 #0b4a6f;
}
.header-main #sub-nav .arrow:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-40%, -60%) rotate(45deg);
  width: 200%;
  height: 200%;
}
.header-main #sub-nav .filter {
  padding: 0.9rem;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  background-color: #f8f8f8;
  font-family: "Quicksand";
  font-size: 1rem;
  border: transparent;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  border-radius: 5rem;
  cursor: pointer;
}
.header-main #sub-nav .filter img {
  margin: auto 0.5rem;
}

.dashboard-header {
  width: 100%;
  border-bottom: solid 1px #0b4a6f;
}
.dashboard-header ul {
  display: flex;
  align-items: center;
}
.dashboard-header .logo-header {
  margin-right: auto;
}
.dashboard-header .search-dashboard {
  display: flex;
  border: solid 0.1rem #0b4a6f;
  border-radius: 5rem;
  margin-right: auto;
  margin-left: 1rem;
}
.dashboard-header .search-dashboard img {
  margin: 0 1rem 0 0;
}
.dashboard-header .search-dashboard input[type=text] {
  background: none;
  border: none;
  border-radius: 5rem;
}
.dashboard-header .search-dashboard input[type=text]:hover {
  transition: background 250ms ease;
  background: hsl(0, 0%, 94%);
}
.dashboard-header input[type=text]:hover {
  transition: background 250ms ease;
  background: hsl(0, 0%, 94%);
}

.app {
  max-height: 50px;
  display: flex;
  flex-direction: row;
  border-right: solid 0.1rem #1b1d21;
}
.app img {
  padding: 1rem;
}

.user-menu {
  display: flex;
}
.user-menu img:first-child {
  height: 50px;
  width: 50px;
  border-radius: 5rem;
  margin-right: 5px;
}
.user-menu .user-data {
  display: flex;
  flex-direction: column;
}
.user-menu img:last-child {
  margin-left: 2rem;
}

#registration {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: #8aecab;
}
#registration .form-container {
  position: relative;
  padding: 3rem;
  display: flex;
  flex-direction: row-reverse;
}
#registration #register,
#registration #connect {
  margin: 0px 5rem;
  width: 50%;
}
#registration form {
  display: flex;
  flex-direction: column;
  margin: 0px 1.5rem;
}
#registration form input {
  margin: 10px 0px;
  border: none;
  padding: 15px;
  background-color: #efefef;
  border-radius: 5px;
}
#registration button {
  border: none;
  padding: 20px;
  margin-top: 5px;
  background-color: #059669;
  border-radius: 10px;
  color: #fff;
  cursor: pointer;
}
#registration .intros-container {
  display: none;
  background-color: #1b1d21;
  position: absolute;
  width: 50%;
  padding: 2rem;
}

footer {
  margin-top: auto;
  background-color: #8accec;
}

section#new-destinations-section {
  margin-bottom: 40px;
}
section#new-destinations-section p#description-new-destinations {
  font-size: 15px;
  line-height: 25px;
  text-align: right;
  color: #1b1d21;
  margin-bottom: 20px;
}
section#new-destinations-section div#container-card-new-destinations {
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
}
section#new-destinations-section div#container-card-new-destinations a div.card-new-destinations {
  width: 240px;
  height: 256px;
  padding: 20px;
  position: relative;
  background: #eaeef3;
  border-radius: 10px;
}
section#new-destinations-section div#container-card-new-destinations a div.card-new-destinations figcaption {
  text-align: center;
}
section#new-destinations-section div#container-card-new-destinations a div.card-new-destinations figcaption img {
  width: 200px;
  height: auto;
  border-radius: 10px;
}
section#new-destinations-section div#container-card-new-destinations a div.card-new-destinations div.description-card-new-destinations {
  position: absolute;
  bottom: 5px;
  right: 20px;
  max-width: 200px;
  border-radius: 10px;
  padding: 10px;
  background-color: #ffffff;
}

section#best-tags-section {
  margin-bottom: 40px;
}
section#best-tags-section div#container-card-best-tags {
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
}
section#best-tags-section div#container-card-best-tags div#card-best-tags {
  width: 240px;
  height: 256px;
  padding: 20px;
  position: relative;
  background: #eaeef3;
  border-radius: 10px;
  margin-bottom: 80px;
}
section#best-tags-section div#container-card-best-tags div#card-best-tags figcaption {
  text-align: center;
}
section#best-tags-section div#container-card-best-tags div#card-best-tags figcaption img {
  width: auto;
  height: 200px;
  border-radius: 10px;
}

section#features-section div#container-card-features figcaption {
  margin-bottom: 25px;
}
section#features-section div#container-card-features figcaption img {
  width: 100%;
  height: 100px;
}
section#features-section div#container-card-features div#container-description-features {
  width: 90%;
  margin: 0 auto;
  text-align: center;
}
section#features-section div#container-card-features div#container-description-features div.item-featrues-commun {
  margin-bottom: 20px;
}
section#features-section div#container-card-features div#container-description-features div.item-featrues-commun p {
  font-size: 14px;
  line-height: 24px;
  color: #475467;
}

section#join-us-section {
  margin-bottom: 40px;
}
section#join-us-section div#container-card-join-us figcaption {
  position: relative;
  margin-bottom: 25px;
}
section#join-us-section div#container-card-join-us figcaption img {
  width: 100%;
  height: 100px;
}
section#join-us-section div#container-card-join-us figcaption a#btn-list-property {
  position: absolute;
  top: 60%;
  left: 0;
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  padding: 5px 25px;
  color: #53389e;
  background-color: #f4ebff;
  border-radius: 10px;
}

section#property-section figcaption img {
  width: 261px;
  height: auto;
}

.section-dashboard {
  width: 100%;
  background-color: #059669;
}
.section-dashboard .dash-menu {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 2rem;
  flex: 1 1 10ch;
}
.section-dashboard .dash-menu .add a {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}/*# sourceMappingURL=style.css.map */