//& -------------------- SCSS VARIABLES -------------------- //

//^ --------- COLORS --------- //
$maincolor: #8ACCEC;
$white : #F8F8F8;
$secondary : #FAC515;
$darkblue : #0B4A6F;
$darkerblue : #1B1D21;
//* --------- FONT --------- //

$font: 'Quicksand';

//? -------------------- RESETS -------------------- //

* {
    margin: 0;
    padding: 0;
}

.limit-size {
    width: 100%;
    max-width: 1900px;
    margin: 0 auto;
}

body {
    box-sizing: border-box;
    scroll-behavior: smooth;
    background-color: #f8f8f8;
}

p,
a {
    font-family: 'Quicksand';
    text-decoration: none;
}

ul {
    list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Quicksand';
}

//^ --------- CLASSES --------- //

.poppins {
    font-family: 'Poppins';
}

.quicksand  {
    font-family: 'Quicksand';
}

//* --------- COLORS CLASSES --------- //

.darkerblue {
    color: $darkerblue;
}

.white {
    color: $white;
}

.maincolor {
    color: $maincolor;
}

//~ -------------------- STYLING -------------------- //

header {
    height: 100px;
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: $maincolor;

    nav ul {
        display: flex;
        align-items: center;

        li a {
            display: flex;
            align-items: center;
        }
    }

    .logo {
        margin-right: auto;
        margin-left: 5rem;
    }


    #searchbar {
        width: 30%;
        height: 55px;
        border-radius: 100vw;
        margin: 0 auto;

        cursor: pointer;
        background: $white;
        box-shadow: 0 0 5px hsl(0 0% 78%);

        display: flex;
        justify-content: center;
        align-items: center;


        form {
            display: flex;
            align-items: center;
            margin: 2rem 2rem;
        }

        .location,
        .check-in,
        .guests {
            margin-right: 1rem;
            width: 25%;
        }

        input[type="text"] {
            background: none;
            border: none;
            width: 100%;
        }

        input[type="text"]:hover {
            transition: background 250ms ease;
            background:hsl(0 0% 94%);
        }

        button {
            height: 40px;
            width: 40px;
            border-radius: 50%;
            margin-left: 5rem;
            background-color: $darkblue;
        }
    }

    .user {
        margin-left: auto;
        margin-right: 5rem;
    }
}