//& -------------------- SCSS VARIABLES -------------------- //

//^ --------- COLORS --------- //
$maincolor: #8ACCEC;
$white : #F8F8F8;
$secondary : #FAC515;
$darkblue : #1A253B;
//* --------- FONT --------- //

$font: 'Quicksand';

//? -------------------- RESETS -------------------- //

* {
    margin: 0;
    padding: 0;
}

.limit-size {
    max-width: 1900px;
    width: 100%;
    margin: 0 auto;
}

body {
    box-sizing: border-box;
    scroll-behavior: smooth;
    background-color: #f8f8f8;
}

p,
a {
    font-family: 'Quicksand';
    text-decoration: none;
}

ul {
    list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Quicksand';
}

//^ --------- CLASSES --------- //

.poppins {
    font-family: 'Poppins';
}

//* --------- COLORS CLASSES --------- //

.darkblue {
    color: $darkblue;
}

.white {
    color: $white;
}

.maincolor {
    color: $maincolor;
}

//~ -------------------- STYLING -------------------- //

header {
    background-color: $maincolor;

    nav ul {
        display: flex;
        align-items: center;

        li a {
            display: flex;
            align-items: center;
        }
    }

    .logo {
        margin-right: auto;
        margin-left: 3rem;
    }


    #searchbar {
        width: 50%;
        background: $white;
        box-shadow: 0 0 5px hsl(0 0% 78%);
        height: 55px;
        border-radius: 100vw;
        display:flex;
        justify-content:center;
        align-items:center;
        margin: 0 auto;

        form {
            display: flex;
            align-items: center;
          }
        
          .location,
          .check-in,
          .guests {
            margin-right: 1rem;
          }

          button {
            height: 40px;
            width: 40px;
            border-radius: 100%;
            background-color: $darkblue;
          }
    }

    .user {
        margin-left: auto;
        margin-right: 3rem;
    }
}