@charset "UTF-8";
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}

.limit-size {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
}

body {
  box-sizing: border-box;
  scroll-behavior: smooth;
  background-color: rgb(248, 248, 248);
  line-height: 1.6;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

img {
  max-width: 100%;
  display: block;
}

p,
a,
label {
  font-family: "Quicksand";
  text-decoration: none;
  font-size: 0.9rem;
  color: #1b1d21;
}

ul {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Quicksand";
  color: #404e87;
}

h2 {
  font-size: 30px;
  line-height: 52px;
  text-align: center;
}

h3 {
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  color: #1b1d21;
}

.hidden {
  display: none;
}

/* CSS pour cacher l'élément d'autocomplétion généré par jQuery UI */
.ui-autocomplete {
  max-height: 250px;
  height: -moz-fit-content;
  height: fit-content;
  width: -moz-fit-content;
  width: fit-content;
  overflow-y: auto;
  overflow-x: hidden;
  z-index: 1000;
  border: 1px solid #ccc;
  /* Fixer le footer en bas de la page */
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}

.ui-menu-item {
  padding: 8px;
  cursor: pointer;
  background-color: #fff;
}

.ui-state-active {
  background-color: #f0f0f0;
}

.ui-menu-item-wrapper {
  width: 100%;
  box-sizing: border-box;
}

/* CSS pour cacher le scroll lorsque l'autocomplétion est ouverte */
.autocomplete-open {
  overflow: hidden;
}

/* CSS pour masquer le texte du message */
.ui-helper-hidden-accessible {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  visibility: hidden;
  pointer-events: none;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 420px;
  max-width: 280px;
  margin: 0 auto;
  background-color: #f8f8f8;
  border-radius: 0.5rem;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.card figure {
  position: relative;
}
.card figure img {
  margin: 0.5rem;
  margin-bottom: 0;
  width: 250px;
  height: 150px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
  border-radius: 0.5rem;
  display: inline-block;
}
.card figure figcaption {
  width: 30px;
  position: absolute;
  top: 2rem;
  right: 1.5rem;
}
.card figure figcaption button {
  outline: transparent;
  border: none;
  background-color: transparent;
  cursor: pointer;
}
.card figure figcaption button img {
  width: 30px;
  height: 30px;
}
.card figure figcaption button input {
  display: none;
}
.card .card-details {
  width: 100%;
}
.card .card-details .pricing {
  margin: 0.5rem 1rem;
  display: flex;
  flex-direction: row;
  margin-right: auto;
}
.card .card-details .pricing span {
  font-size: 2rem;
}
.card .card-details .pricing .rating {
  margin: 0 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: auto;
}
.card .card-details .location {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0.5rem;
}
.card .card-details .location img {
  margin: 0.2rem;
}
.card .card-details .description {
  margin: 0 1rem;
  display: flex;
  flex-direction: column;
  text-align: left;
}
.card .card-details .description h3 {
  text-align: left;
  font-size: 1.2rem;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  line-clamp: 1;
  -webkit-box-orient: vertical;
  margin: 0.5rem;
}
.card .card-details .description .locataire {
  display: inline-flex;
  align-items: flex-end;
}
.card .card-details .description .locataire .img-profile {
  background-color: grey;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  margin: 0.5rem;
}
.card .card-details .description .card-descriptions-limit {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  /* number of lines to show */
  line-clamp: 3;
  -webkit-box-orient: vertical;
}
.card .card-details .calendar {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
.card .card-details .calendar input[type=date] {
  border: none;
  outline: transparent;
  font-family: "Quicksand";
  text-transform: uppercase;
}
.card .card-details .calendar .arrival,
.card .card-details .calendar .departure {
  width: 50%;
  padding: 0.5rem;
}
.card .card-details button {
  margin: 0.5rem 0;
  width: 90%;
  position: relative;
  border: solid 1px #404e87;
  background-color: transparent;
  padding: 0.5rem;
  border-radius: 0.5rem;
  cursor: pointer;
  overflow: hidden;
}
.card .card-details button span {
  display: block;
  font-family: "Quicksand";
  font-size: 1.2rem;
  width: 100%;
  padding: 0.3rem 0;
  color: #404e87;
  position: relative;
  z-index: 1;
}
.card .card-details button span:hover {
  color: #f8f8f8;
}
.card .card-details button:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background-color: #404e87;
  transition: all 0.5s ease-out;
  z-index: 0;
}
.card .card-details button:hover:before {
  width: 100%;
}
.card .card-details .dashboard-property-buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: absolute;
  margin: 1rem;
  width: 90%;
  height: 2rem;
  bottom: 0;
}
.card .card-details .dashboard-property-buttons .button {
  width: 6rem;
  padding: 0.5rem;
}
.card .card-details .dashboard-property-buttons .button p {
  color: #0e9384;
  font-family: "Quicksand-bold";
  font-size: 1rem;
}
.card .card-details .dashboard-property-buttons .button:hover {
  border: 1px solid #0e9384;
  border-radius: 0.5rem;
}
.card .card-details .dashboard-property-buttons input {
  width: 7rem;
  padding: 0.5rem;
  color: red;
  font-family: "Quicksand-bold";
  font-size: 1rem;
  outline: transparent;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.card .card-details .dashboard-property-buttons input:hover {
  border: 1px solid red;
  border-radius: 0.5rem;
}
.card .card-details .dashboard-property-buttons button {
  margin: 0.5rem 0;
  width: 90%;
  position: relative;
  border: solid 1px #0e9384;
  background-color: transparent;
  padding: 0.5rem;
  border-radius: 0.5rem;
  cursor: pointer;
  overflow: hidden;
}
.card .card-details .dashboard-property-buttons button span {
  display: block;
  font-family: "Quicksand";
  font-size: 1.2rem;
  width: 100%;
  padding: 0.3rem 0;
  color: #0e9384;
  position: relative;
  z-index: 1;
}
.card .card-details .dashboard-property-buttons button span:hover {
  color: #f8f8f8;
}
.card .card-details .dashboard-property-buttons button:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background-color: #0e9384;
  transition: all 0.5s ease-out;
  z-index: 0;
}
.card .card-details .dashboard-property-buttons button:hover:before {
  width: 100%;
}

@media screen and (max-width: 800px) {
  .dashboard-cards .card {
    margin: 0;
    max-width: 180px;
  }
}
.smaller-card {
  height: 300px;
}

.medium-card {
  height: 355px;
}

.header-main {
  position: sticky;
  top: 0;
  z-index: 99;
  background-color: #92aad3;
  padding: 1rem;
}
.header-main .header-content {
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
}
.header-main .header-content #logo {
  margin-right: auto;
  margin-left: 3rem;
}
.header-main .header-content #container-searchbar {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 1rem;
}
.header-main .header-content #container-searchbar #desktop-searchbar #searchbar {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #1b1d21;
  border-radius: 5rem;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  padding: 0 1.5rem;
  background-color: #f8f8f8;
}
.header-main .header-content #container-searchbar #desktop-searchbar #searchbar .search-element {
  margin: 1rem;
  color: rgb(48, 46, 46);
}
.header-main .header-content #container-searchbar #desktop-searchbar #searchbar .search-element p {
  font-size: 0.8rem;
}
.header-main .header-content #container-searchbar #desktop-searchbar #searchbar .separation {
  position: relative;
}
.header-main .header-content #container-searchbar #desktop-searchbar #searchbar .separation:after {
  content: "";
  position: absolute;
  right: -1rem;
  top: 2px;
  height: 80%;
  border-left: 1px solid rgba(48, 46, 46, 0.306);
}
.header-main .header-content #container-searchbar #desktop-searchbar #searchbar:hover {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  transition: background 250ms ease;
  background: hsl(0, 0%, 94%);
}
.header-main .header-content #container-searchbar #desktop-searchbar button {
  width: 35px;
  background-color: #404e87;
  border-radius: 5rem;
  padding: 0.5rem;
  outline: transparent;
  border: none;
  transition: background 250ms ease-in-out;
}
.header-main .header-content #container-searchbar #desktop-searchbar button:hover {
  background: conic-gradient(from 90deg at bottom right, cyan, rebeccapurple);
}
.header-main .header-content #user {
  margin-right: 3rem;
}
@media screen and (max-width: 900px) {
  .header-main .header-content #logo {
    margin-right: auto;
    margin-left: 0;
  }
  .header-main .header-content #user {
    margin-right: 0;
  }
}
@media screen and (max-width: 700px) {
  .header-main .header-content #logo,
  .header-main .header-content #user,
  .header-main .header-content #desktop-searchbar {
    display: none;
  }
}

.dashboard-header {
  width: 100%;
  border-bottom: solid 1px #1b1d21;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.dashboard-header .search-dashboard {
  display: flex;
  width: 30%;
  border: solid 0.1rem #1b1d21;
  border-radius: 5rem;
}
.dashboard-header .search-dashboard input[type=text] {
  background: none;
  border: none;
  border-radius: 5rem;
  margin-right: auto;
  padding: 1rem;
}
.dashboard-header .search-dashboard input[type=text]:hover {
  transition: background 250ms ease;
  background: hsl(0, 0%, 94%);
}
.dashboard-header .search-dashboard input[type=text]:focus {
  outline: transparent;
}
.dashboard-header .search-dashboard:hover {
  transition: background 250ms ease;
  background: hsl(0, 0%, 94%);
}
.dashboard-header .right-menu {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.dashboard-header .right-menu .app {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  border-right: solid 0.1rem #1b1d21;
}
.dashboard-header .right-menu .app img {
  padding: 1rem;
}
.dashboard-header .right-menu .user-menu {
  display: flex;
  margin: 1rem;
}
.dashboard-header .right-menu .user-menu .profilepic {
  height: 50px;
  width: 50px;
  border-radius: 5rem;
}
.dashboard-header .right-menu .user-menu .user-data {
  display: flex;
  flex-direction: column;
}
.dashboard-header .right-menu .user-menu .arrow-dropdown {
  margin: 1rem;
}
.dashboard-header .right-menu .user-menu .submenu-dashboard {
  position: absolute;
  display: none;
  background-color: #f8f8f8;
  border-radius: 5px;
  z-index: 99;
}
.dashboard-header .right-menu .user-menu .submenu-dashboard ul {
  list-style-type: none;
  padding: 0;
}
.dashboard-header .right-menu .user-menu .submenu-dashboard ul li {
  border-bottom: dashed 0.5px rgba(14, 147, 131, 0.2588235294);
  text-align: center;
}
.dashboard-header .right-menu .user-menu .submenu-dashboard ul li:last-child {
  border-bottom: none;
}
.dashboard-header .right-menu .user-menu .submenu-dashboard ul li .submenu-icon {
  padding: 0.5rem;
  width: 18px;
}
.dashboard-header .right-menu .user-menu .submenu-dashboard ul li > a {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
  color: #111;
  font-size: 1rem;
  cursor: pointer;
}
.dashboard-header .right-menu .user-menu .submenu-dashboard ul li > a:hover {
  background-color: rgba(14, 147, 131, 0.262745098);
  color: #f8f8f8;
}
.dashboard-header .right-menu .user-menu .submenu-dashboard.show {
  display: block;
}
@media screen and (max-width: 500px) {
  .dashboard-header .search-dashboard {
    display: none;
  }
  .dashboard-header .right-menu {
    width: 90%;
  }
}

#registration {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: #8aecab;
}
#registration .form-container {
  position: relative;
  padding: 3rem;
  display: flex;
  flex-direction: row-reverse;
}
#registration #register,
#registration #connect {
  margin: 0px 5rem;
  width: 50%;
}
#registration form {
  display: flex;
  flex-direction: column;
  margin: 0px 1.5rem;
}
#registration form input {
  margin: 10px 0px;
  border: none;
  padding: 15px;
  background-color: #efefef;
  border-radius: 0.5rem;
}
#registration button {
  border: none;
  padding: 20px;
  margin-top: 5px;
  background-color: #059669;
  border-radius: 0.5rem;
  color: #fff;
  cursor: pointer;
}
#registration .intros-container {
  display: none;
  background-color: #1b1d21;
  position: absolute;
  width: 50%;
  padding: 2rem;
}

footer {
  margin-top: auto;
  background-color: #92aad3;
}
footer .footer-desktop {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
footer .footer-desktop a {
  font-size: 1rem;
  margin: 1rem;
}
footer .footer-desktop .social-media {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 0.5rem;
}
footer .footer-desktop .social-media a {
  margin: 0 0.6rem;
}
footer .footer-mobile {
  display: flex;
  justify-content: center;
}
footer .footer-mobile a {
  margin: 2rem;
}

#hero {
  width: 99.5vw;
  position: relative;
  left: 50%;
  margin-left: -50vw;
}
#hero figure {
  position: relative;
  height: 450px;
  overflow: hidden;
}
#hero figure .slider-image {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}
#hero figure .slider-image:first-child {
  opacity: 1;
  z-index: 2;
}
#hero figure .overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: linear-gradient(to bottom, rgba(14, 29, 51, 0.8), rgba(14, 29, 51, 0.2));
  z-index: 3;
}
#hero figure .slider-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.8);
  border: none;
  outline: none;
  cursor: pointer;
  z-index: 4;
}
#hero figure .slider-arrow img {
  display: block;
  margin: 0 auto;
}
#hero figure .prev-arrow {
  left: 10px;
}
#hero figure .next-arrow {
  right: 10px;
}

.tag-nav {
  position: relative;
  overflow: hidden;
}
.tag-nav #tag-container {
  display: flex;
  width: 100%;
}
.tag-nav #tag-container .arrow-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 10%;
  height: 100%;
}
.tag-nav #tag-container .arrow-container.left-arrow-container {
  position: absolute;
  left: 0;
}
.tag-nav #tag-container .arrow-container.left-arrow-container .left-arrow {
  z-index: 2;
}
.tag-nav #tag-container .arrow-container.left-arrow-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to right, rgb(248, 248, 248), rgba(248, 248, 248, 0.8));
  pointer-events: none;
}
.tag-nav #tag-container .arrow-container.right-arrow-container {
  position: absolute;
  right: 0;
  z-index: 2;
}
.tag-nav #tag-container .arrow-container.right-arrow-container .right-arrow {
  z-index: 2;
}
.tag-nav #tag-container .arrow-container.right-arrow-container::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to left, rgb(248, 248, 248), rgba(248, 248, 248, 0.8));
  pointer-events: none;
}
.tag-nav #tag-container .container-tag-list {
  display: flex;
  overflow-x: scroll;
  width: 100%;
  padding-right: 10%;
  padding-left: 10%;
  scrollbar-width: none;
  /* Hide scrollbar for Firefox */
  -ms-overflow-style: none;
  /* Hide scrollbar for IE and Edge */
}
.tag-nav #tag-container .container-tag-list::-webkit-scrollbar {
  display: none;
  /* Hide scrollbar for Chrome, Safari, and Opera */
}
.tag-nav #tag-container .container-tag-list .tag-item {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.tag-nav #tag-container .container-tag-list .tag-item a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 0.2rem;
  padding: 0 0.5rem;
  height: 80px;
}
.tag-nav #tag-container .container-tag-list .tag-item a #icon-tag {
  width: 30px;
}
.tag-nav #tag-container .container-tag-list .tag-item a img {
  width: 30px;
  margin: 0 auto;
}
.tag-nav #tag-container .container-tag-list .tag-item a p {
  min-width: 50px;
  font-size: 0.6rem;
  text-align: center;
}
.tag-nav #tag-container .container-tag-list .tag-item a:hover {
  background-color: rgba(167, 167, 167, 0.4352941176);
  border-bottom: 1px solid #000000;
}
.tag-nav button.filter {
  cursor: pointer;
  margin: 0.5rem;
  padding: 0.5rem;
  border-radius: 100%;
  border: 1px solid #1b1d21;
  z-index: 2;
}
.tag-nav button.arrow {
  cursor: pointer;
  padding: 0.5rem;
  border-radius: 100%;
  border: 0.5px solid #1b1d21;
}
.tag-nav button.arrow::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(248, 248, 248, 0.5);
  pointer-events: none;
}

section#new-destinations-section {
  margin: 40px 0;
}
section#new-destinations-section p#description-new-destinations {
  text-align: right;
  color: #1b1d21;
  margin: 0.5rem 0;
}
section#new-destinations-section div#container-card-new-destinations {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
}
section#new-destinations-section div#container-card-new-destinations a {
  padding-top: 1.5rem;
}
section#new-destinations-section div#container-card-new-destinations a div.card-new-destinations {
  width: 220px;
  height: 236px;
  position: relative;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  margin-bottom: 2rem;
}
section#new-destinations-section div#container-card-new-destinations a div.card-new-destinations figure {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  position: relative;
}
section#new-destinations-section div#container-card-new-destinations a div.card-new-destinations figure .homepage-favoris {
  position: absolute;
  top: 1rem;
  right: 1rem;
}
section#new-destinations-section div#container-card-new-destinations a div.card-new-destinations figure .homepage-favoris button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}
section#new-destinations-section div#container-card-new-destinations a div.card-new-destinations figure .homepage-favoris button input {
  display: none;
}
section#new-destinations-section div#container-card-new-destinations a div.card-new-destinations figure img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px;
}
section#new-destinations-section div#container-card-new-destinations a div.card-new-destinations figure figcaption {
  position: absolute;
  bottom: 0;
  left: 1rem;
  width: 80%;
  transform: translate(0, 20%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.948);
  padding: 10px;
  border-radius: 10px;
  transition: opacity 0.3s;
}
section#new-destinations-section div#container-card-new-destinations a div.card-new-destinations figure figcaption h3 {
  color: #404e87;
}
section#new-destinations-section div#container-card-new-destinations a div.card-new-destinations figure figcaption p span {
  font-family: "Quicksand-bold";
}
section#new-destinations-section div#container-card-new-destinations a div.card-new-destinations figure:hover figcaption {
  background-color: #f8f8f8;
}
section#new-destinations-section div#container-card-new-destinations div.new-destination-flex-cards {
  width: 40%;
  margin-right: 1rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
section#new-destinations-section div#container-card-new-destinations div.new-destination-main-card {
  width: 50%;
}
section#new-destinations-section div#container-card-new-destinations div.new-destination-main-card .main-card {
  margin: 0 auto;
  max-width: 450px;
  width: calc(100% - 1rem);
  height: 450px;
  position: relative;
  border-radius: 10px;
  margin-bottom: 2rem;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
@media screen and (max-width: 850px) {
  section#new-destinations-section div#container-card-new-destinations {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  section#new-destinations-section div#container-card-new-destinations div.new-destination-flex-cards {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  section#new-destinations-section div#container-card-new-destinations div.new-destination-main-card {
    width: 100%;
  }
}

section#best-tags-section {
  margin-bottom: 40px 0;
}
section#best-tags-section div#container-card-best-tags {
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  align-items: center;
  text-align: center;
}
section#best-tags-section div#container-card-best-tags div.best-tags-flex-cards {
  width: 40%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-left: 1rem;
}
section#best-tags-section div#container-card-best-tags a {
  padding-top: 1.5rem;
}
section#best-tags-section div#container-card-best-tags a div.card-best-tags {
  width: 220px;
  height: 236px;
  position: relative;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  margin-bottom: 2rem;
}
section#best-tags-section div#container-card-best-tags a div.card-best-tags figure {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  position: relative;
}
section#best-tags-section div#container-card-best-tags a div.card-best-tags figure .homepage-favoris {
  position: absolute;
  top: 1rem;
  right: 1rem;
}
section#best-tags-section div#container-card-best-tags a div.card-best-tags figure .homepage-favoris button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}
section#best-tags-section div#container-card-best-tags a div.card-best-tags figure .homepage-favoris button input {
  display: none;
}
section#best-tags-section div#container-card-best-tags a div.card-best-tags figure img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px;
}
section#best-tags-section div#container-card-best-tags a div.card-best-tags figure figcaption {
  position: absolute;
  bottom: 0;
  left: 1rem;
  width: 80%;
  transform: translate(0, 20%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.948);
  padding: 10px;
  border-radius: 10px;
  transition: opacity 0.3s;
}
section#best-tags-section div#container-card-best-tags a div.card-best-tags figure figcaption h3 {
  color: #404e87;
}
section#best-tags-section div#container-card-best-tags a div.card-best-tags figure figcaption p span {
  font-family: "Quicksand-bold";
}
section#best-tags-section div#container-card-best-tags a div.card-best-tags figure:hover figcaption {
  background-color: #f8f8f8;
}
section#best-tags-section div#container-card-best-tags div.best-tags-main-card {
  width: 50%;
}
section#best-tags-section div#container-card-best-tags div.best-tags-main-card .main-card {
  margin: 0 auto;
  max-width: 450px;
  width: calc(100% - 1rem);
  height: 450px;
  position: relative;
  border-radius: 10px;
  margin-bottom: 2rem;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
@media screen and (max-width: 850px) {
  section#best-tags-section div#container-card-best-tags {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  section#best-tags-section div#container-card-best-tags div.best-tags-flex-cards {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  section#best-tags-section div#container-card-best-tags div.best-tags-main-card {
    width: 100%;
  }
}

section#features-section {
  margin-bottom: 3rem;
}
section#features-section div#container-card-features figure img {
  width: 100%;
  min-height: 100px;
}
section#features-section div#container-card-features div#container-description-features {
  width: 90%;
  text-align: center;
}
section#features-section div#container-card-features div#container-description-features div.item-features-commun figure {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
section#features-section div#container-card-features div#container-description-features div.item-features-commun figure img {
  width: 30px;
  height: 30px;
}
section#features-section div#container-card-features div#container-description-features div.item-features-commun p {
  font-size: 14px;
  line-height: 24px;
}
@media screen and (min-width: 950px) {
  section#features-section div#container-card-features {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  section#features-section div#container-description-features {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-bottom: 1.5rem;
  }
  section#features-section div.item-features-commun {
    margin: 1rem;
  }
}

section#join-us-section div#container-card-join-us figcaption {
  position: relative;
}
section#join-us-section div#container-card-join-us figcaption img {
  width: 100%;
  min-height: 100px;
}
section#join-us-section div#container-card-join-us figcaption a#btn-list-property {
  position: absolute;
  bottom: 10%;
  right: 10%;
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  padding: 5px 25px;
  color: #404e87;
  background-color: #f4ebff;
  border-radius: 10px;
}
section#join-us-section div#container-card-join-us figcaption a#btn-list-property a#btn-list-property:hover {
  background-color: rgba(213, 223, 240, 0.831372549);
  filter: brightness(110%);
  transition: 0.5s ease;
}
section#join-us-section div#container-card-join-us figcaption a#btn-list-property a#btn-list-property:active {
  transform: translate(0, 0.5rem);
  box-shadow: 0 0.1rem rgba(255, 255, 255, 0.7);
}

#scroll-to-top-button {
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
  background-color: #404e87;
  border: 1px solid #f8f8f8;
  outline: transparent;
  cursor: pointer;
  transition: display 0.5s ease;
  opacity: 1;
  z-index: 9999;
}

.scroll-to-top-hidden {
  display: none;
}

section#property-section {
  text-align: left;
  /* The Modal (background) */
}
section#property-section h1 {
  font-size: 55px;
}
section#property-section .property-images {
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
}
section#property-section .property-images .property-main-image img {
  width: 100%;
  min-height: 650px;
  border-radius: 0.8rem;
  -o-object-fit: cover;
     object-fit: cover;
}
section#property-section .property-images .property-flex-images {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
section#property-section .property-images .property-flex-images img {
  width: 45%;
  max-height: 400px;
  border-radius: 0.8rem;
  margin: 0.3rem;
  -o-object-fit: cover;
     object-fit: cover;
}
section#property-section .modal {
  display: none;
  position: fixed;
  z-index: 1000;
  padding: 0;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.9);
  /* Modal Content (Image) */
  /* Add Animation - Zoom in the Modal */
  /* The Close Button */
}
section#property-section .modal .modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  max-height: 80%;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
section#property-section .modal .modal-content {
  animation-name: zoom;
  animation-duration: 0.6s;
}
section#property-section .modal .close {
  position: absolute;
  top: 5%;
  right: 3%;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}
section#property-section .modal .close:hover,
section#property-section .modal .close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}
section#property-section h3 {
  font-size: 1.5rem;
  color: #404e87;
  text-align: left;
}
section#property-section .property-details {
  display: flex;
  flex-direction: row;
}
section#property-section .property-details .container-description-property {
  width: 50%;
}
section#property-section .property-details .container-description-property .property-amenities {
  display: flex;
  flex-direction: row;
}
section#property-section .property-details .container-description-property .property-amenities p {
  padding-right: 0.8rem;
  font-size: 0.8rem;
}
section#property-section .property-details .container-description-property .property-description #description-details {
  color: #404e87;
}
section#property-section .property-details .container-description-property .property-description #description-details:hover {
  text-decoration: underline;
}
section#property-section .property-details .container-description-property .property-equipment {
  margin-left: 0.5rem;
  max-height: 350px;
}
section#property-section .property-details .container-description-property .property-equipment .equipment-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
section#property-section .property-details .container-description-property .property-equipment .equipment-list figure {
  max-width: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1.5rem 1rem;
  margin-left: 0;
  overflow: hidden;
  text-align: center;
}
section#property-section .property-details .container-description-property .property-equipment .equipment-list figure img {
  margin-right: 0.5rem;
  width: 25px;
}
section#property-section .property-details .container-description-property .property-comments {
  display: flex;
  flex-direction: column;
}
section#property-section .property-details .container-description-property .property-comments .nav-arrows {
  align-self: flex-end;
}
section#property-section .property-details .container-description-property .property-comments .nav-arrows button {
  outline: transparent;
  border: 1px solid #1b1d21;
  border-radius: 50%;
  padding: 0.5rem;
}
section#property-section .property-details .container-description-property .property-comments .container-comments-row {
  width: 100%;
  display: flex;
  justify-content: space-between;
  overflow: hidden;
}
section#property-section .property-details .container-description-property .property-comments .container-comments-row .container-comment {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 0 1.5rem;
  margin: 0.5rem 1.5rem;
  min-width: 300px;
  height: 250px;
  background-color: #fff;
  border-radius: 0.5rem;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
}
section#property-section .property-details .container-description-property .property-comments .container-comments-row .container-comment .stars-rating figure img {
  width: 25px;
}
section#property-section .property-details .container-description-property .property-comments .container-comments-row .container-comment figure {
  display: flex;
  flex-direction: row;
  align-items: center;
  overflow: hidden;
}
section#property-section .property-details .container-description-property .property-comments .container-comments-row .container-comment figure #profile-picture {
  background-color: grey;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
section#property-section .property-details .container-description-property .property-comments .container-comments-row .container-comment figure figcaption {
  margin: 0 0.5rem;
}
section#property-section .property-details .container-description-property .property-host h3 {
  margin: 1rem 0;
}
section#property-section .property-details .container-description-property .property-host .container-host-info {
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
  padding: 2rem;
  border-radius: 1rem;
  max-width: 60%;
}
section#property-section .property-details .container-description-property .property-host .container-host-info figure {
  overflow: hidden;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
section#property-section .property-details .container-description-property .property-host .container-host-info figure .profile-picture {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
section#property-section .property-details .container-description-property .property-host .container-host-info figure figcaption {
  padding: 0.5rem 1rem;
}
section#property-section .property-details .container-description-property .property-host .container-host-info figure figcaption h4 {
  font-size: 1.3rem;
}
section#property-section .property-details .container-description-property .property-host .container-host-info figure figcaption .stars-rating figure {
  display: flex;
  flex-direction: row;
}
section#property-section .property-details .container-description-property .property-host .container-host-info figure figcaption .stars-rating figure img {
  width: 15px;
}
section#property-section .property-details .container-description-property .property-host .container-host-info .host-details {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
section#property-section .property-details .container-description-property .property-host .container-host-info .center-button {
  display: flex;
  justify-content: center;
}
section#property-section .property-details .container-description-property .property-host .container-host-info .center-button button {
  width: 15rem;
  position: relative;
  border: solid 1px #404e87;
  background-color: transparent;
  padding: 1rem;
  border-radius: 0.5rem;
  cursor: pointer;
  overflow: hidden;
}
section#property-section .property-details .container-description-property .property-host .container-host-info .center-button button span {
  display: block;
  font-family: "Quicksand";
  font-size: 1.2rem;
  width: 100%;
  padding: 0.3rem 0;
  color: #404e87;
  position: relative;
  z-index: 1;
}
section#property-section .property-details .container-description-property .property-host .container-host-info .center-button button span:hover {
  color: #f8f8f8;
}
section#property-section .property-details .container-description-property .property-host .container-host-info .center-button button:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background-color: #404e87;
  transition: all 0.5s ease-out;
  z-index: 0;
}
section#property-section .property-details .container-description-property .property-host .container-host-info .center-button button:hover:before {
  width: 100%;
}
section#property-section .property-details .container-description-property .property-conditions {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
section#property-section .property-details .container-description-property .property-conditions .annulation,
section#property-section .property-details .container-description-property .property-conditions .reglement {
  max-width: 300px;
}
section#property-section .property-details .container-description-property .property-conditions .annulation h4,
section#property-section .property-details .container-description-property .property-conditions .reglement h4 {
  font-size: 1.3rem;
}
section#property-section .property-details .container-description-property .property-conditions .annulation p,
section#property-section .property-details .container-description-property .property-conditions .reglement p {
  margin: 1rem;
}
section#property-section .property-details .container-description-property .property-conditions .annulation a,
section#property-section .property-details .container-description-property .property-conditions .reglement a {
  font-size: 1.1rem;
}
section#property-section .property-details .container-description-property .property-conditions .annulation a:hover,
section#property-section .property-details .container-description-property .property-conditions .reglement a:hover {
  color: #404e87;
  text-decoration: underline;
  transition: 250ms ease-in;
}
section#property-section .property-details .container-pricing {
  position: sticky;
  top: 8rem;
  display: flex;
  flex-direction: column;
  margin: 1rem 5rem;
  background-color: rgba(217, 217, 217, 0.3764705882);
  width: 30%;
  height: -moz-fit-content;
  height: fit-content;
  max-height: 550px;
  padding: 1.5rem;
  border-radius: 1.5rem;
}
section#property-section .property-details .container-pricing p {
  font-size: 1.6rem;
  margin: 1rem;
  margin-top: 0;
}
section#property-section .property-details .container-pricing p span {
  font-family: "Quicksand-bold";
}
section#property-section .property-details .container-pricing .container-calendar-traveler {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
section#property-section .property-details .container-pricing .container-calendar-traveler .reservation-options {
  width: 90%;
  background-color: #fff;
  border-radius: 1rem;
  padding: 0.5rem;
}
section#property-section .property-details .container-pricing .container-calendar-traveler .reservation-options .calendar {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
section#property-section .property-details .container-pricing .container-calendar-traveler .reservation-options .calendar input[type=date] {
  border: none;
  outline: transparent;
  font-family: "Quicksand";
  text-transform: uppercase;
}
section#property-section .property-details .container-pricing .container-calendar-traveler .reservation-options .calendar .arrival,
section#property-section .property-details .container-pricing .container-calendar-traveler .reservation-options .calendar .departure {
  width: 50%;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid #1b1d21;
}
section#property-section .property-details .container-pricing .container-calendar-traveler .reservation-options .calendar .arrival {
  border-right: 1px solid #1b1d21;
}
section#property-section .property-details .container-pricing .container-calendar-traveler .reservation-options .calendar .departure {
  padding-left: 1rem;
}
section#property-section .property-details .container-pricing .container-calendar-traveler .reservation-options .traveler {
  display: flex;
  flex-direction: column;
}
section#property-section .property-details .container-pricing .container-calendar-traveler .reservation-options .traveler select#traveler-select {
  font-family: "Quicksand";
  padding: 0.5rem 0.8rem;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
section#property-section .property-details .container-pricing .container-calendar-traveler button {
  width: 100%;
  min-width: 300px;
  position: relative;
  margin: 0.5rem;
  border: solid 1px #404e87;
  background-color: transparent;
  border-radius: 0.5rem;
  cursor: pointer;
  overflow: hidden;
}
section#property-section .property-details .container-pricing .container-calendar-traveler button span {
  display: block;
  font-family: "Quicksand";
  font-size: 1.5rem;
  width: 100%;
  padding: 1rem 0;
  color: #404e87;
  position: relative;
  z-index: 1;
}
section#property-section .property-details .container-pricing .container-calendar-traveler button span:hover {
  color: #f8f8f8;
}
section#property-section .property-details .container-pricing .container-calendar-traveler button:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background-color: #404e87;
  transition: all 0.5s ease-out;
  z-index: 0;
}
section#property-section .property-details .container-pricing .container-calendar-traveler button:hover:before {
  width: 100%;
}
section#property-section .property-details .container-pricing .container-calendar-traveler p {
  font-size: 0.7rem;
}
section#property-section .property-details .container-pricing .container-calendar-traveler input[type=submit] {
  display: none;
}
section#property-section .property-details .container-pricing .price-details {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
section#property-section .property-details .container-pricing .price-details p {
  font-size: 1rem;
}
section#property-section .property-details .container-pricing .price-details h4 {
  font-size: 1.3rem;
  margin: 1rem 0;
  padding-top: 0.5rem;
  border-top: 1px solid #1b1d21;
}
section#property-section .add-comment-form {
  width: 50%;
}
section#property-section .add-comment-form form .rating-input {
  display: flex;
  flex-direction: column;
}
section#property-section .add-comment-form form .rating-input .rating-stars {
  display: flex;
  flex-direction: row;
}
section#property-section .add-comment-form form .rating-input .rating-stars label img {
  width: 25px;
  /* Adjust the size of the stars as needed */
  cursor: pointer;
  opacity: 0.6;
  /* Set the initial opacity for non-active stars */
}
section#property-section .add-comment-form form .rating-input .rating-stars label img:hover {
  opacity: 0.8;
  /* Set the opacity on hover */
}
section#property-section .add-comment-form form .rating-input .rating-stars input[type=radio]:checked + label img {
  opacity: 1;
  /* Set the opacity to 1 for the checked (active) star */
}
section#property-section .add-comment-form form .rating-input .rating-stars input[type=radio] {
  position: absolute;
  opacity: 0;
  pointer-events: none;
}
section#property-section .add-comment-form form .comment-input {
  display: flex;
  flex-direction: column;
}
section#property-section .add-comment-form form button {
  width: 100%;
  position: relative;
  margin: 0.5rem 0;
  border: solid 1px #404e87;
  background-color: transparent;
  border-radius: 0.5rem;
  cursor: pointer;
  overflow: hidden;
}
section#property-section .add-comment-form form button span {
  display: block;
  font-family: "Quicksand";
  font-size: 1.5rem;
  width: 100%;
  padding: 1rem 0;
  color: #404e87;
  position: relative;
  z-index: 1;
}
section#property-section .add-comment-form form button span:hover {
  color: #f8f8f8;
}
section#property-section .add-comment-form form button:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background-color: #404e87;
  transition: all 0.5s ease-out;
  z-index: 0;
}
section#property-section .add-comment-form form button:hover:before {
  width: 100%;
}
section#property-section .add-comment-form form input[type=submit] {
  display: none;
}
section#property-section div {
  margin-bottom: 1rem;
}

section#googlemaps-property-section div#map {
  width: 100%;
  height: 400px;
}

section#addgooglemaps-property-section .sb-title {
  position: relative;
  top: -12px;
  font-family: Roboto, sans-serif;
  font-weight: 500;
}
section#addgooglemaps-property-section .sb-title-icon {
  position: relative;
  top: -5px;
}
section#addgooglemaps-property-section .card-container {
  display: flex;
  height: 500px;
  width: 600px;
}
section#addgooglemaps-property-section .panel {
  background: white;
  width: 300px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
section#addgooglemaps-property-section .half-input-container {
  display: flex;
  justify-content: space-between;
}
section#addgooglemaps-property-section .half-input {
  max-width: 120px;
}
section#addgooglemaps-property-section .map {
  width: 300px;
}
section#addgooglemaps-property-section h2 {
  margin: 0;
  font-family: Roboto, sans-serif;
}
section#addgooglemaps-property-section input {
  height: 30px;
}
section#addgooglemaps-property-section input {
  border: 0;
  border-bottom: 1px solid black;
  font-size: 14px;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: normal;
}
section#addgooglemaps-property-section input:focus::-moz-placeholder {
  color: white;
}
section#addgooglemaps-property-section input:focus::placeholder {
  color: white;
}

.dashboard {
  background-color: #e1e7ea;
  min-height: 90vh;
}
.dashboard h2 {
  color: #0e9384;
}
.dashboard .welcome-dashboard {
  text-align: left;
}
.dashboard .welcome-dashboard h1 {
  color: #111;
  margin: 0 5rem;
  padding-top: 1rem;
  font-size: 2rem;
}
.dashboard .welcome-dashboard .user-menu {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin: 5rem;
  margin-bottom: 0;
}
.dashboard .welcome-dashboard .user-menu .add a {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: rgba(61, 122, 245, 0.0705882353);
  border-radius: 5rem;
  padding: 0.5rem;
  padding-right: 2rem;
}
.dashboard .welcome-dashboard .user-menu .add a img {
  padding: 0.5rem;
  margin: 0 0.5rem 0 0;
  background-color: #f3f3f3;
  border-radius: 5rem;
}
.dashboard .welcome-dashboard .user-menu .add.first-link a {
  background-color: #0e9384;
  color: #f8f8f8;
}
.dashboard .welcome-dashboard .user-menu .add.filter {
  margin-left: auto;
  align-self: flex-end;
}
.dashboard .welcome-dashboard .user-menu .add a:hover {
  background: rgba(14, 147, 131, 0.5803921569);
  transition: all 0.5s ease-out;
}
@media screen and (max-width: 800px) {
  .dashboard .welcome-dashboard .user-menu .add.filter {
    margin-left: 0;
    align-self: flex-end;
  }
}
.dashboard .cards-container {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: space-around;
  margin: 1rem 3rem;
}

#addpropertyForm {
  background-color: #e1e7ea;
}
#addpropertyForm fieldset {
  padding: 1rem 3rem;
  display: flex;
  justify-content: center;
}
#addpropertyForm h4 {
  color: #0e9384;
  font-size: 1.2rem;
  margin: 1rem 0;
}
#addpropertyForm h5 {
  font-size: 1rem;
  color: #0e9384;
}
#addpropertyForm .flex-form {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
#addpropertyForm .flex-form .left-property-details {
  width: 50%;
}
#addpropertyForm .flex-form .left-property-details .input-flex {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
#addpropertyForm .flex-form .left-property-details .input-flex .property-title,
#addpropertyForm .flex-form .left-property-details .input-flex .property-price,
#addpropertyForm .flex-form .left-property-details .input-flex .property-type {
  display: flex;
  flex-direction: column;
}
#addpropertyForm .flex-form .right-property-images {
  width: 50%;
  max-height: 400px;
  overflow: scroll;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#addpropertyForm .flex-form .host-languages label {
  margin: 1.5rem;
}
#addpropertyForm .selection-accomodation {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
#addpropertyForm .selection-accomodation .equipement {
  width: 100px;
  text-align: center;
}
#addpropertyForm .selection-accomodation .equipement label {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
}
#addpropertyForm .selection-accomodation .equipement label img {
  width: 20px;
}
#addpropertyForm .selection-accomodation .equipement label:hover {
  cursor: pointer;
}
#addpropertyForm .add-rules label {
  margin: 1rem;
}
#addpropertyForm .add-amenities .amenity label {
  padding: 0.5rem;
}
#addpropertyForm .selection-tags {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
#addpropertyForm .selection-tags .tag-element {
  display: flex;
  flex-direction: column;
}
#addpropertyForm .selection-tags label {
  width: 70px;
  margin: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
#addpropertyForm .selection-tags label img {
  width: 25px;
}

#editpropertyform {
  background-color: #e1e7ea;
}
#editpropertyform fieldset {
  padding: 1rem 3rem;
  display: flex;
  justify-content: center;
}
#editpropertyform fieldset .edit-tags {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
#editpropertyform fieldset .edit-tags label {
  width: 70px;
  margin: 1rem;
}
#editpropertyform fieldset .edit-tags label img {
  width: 25px;
}

#user-edit {
  background-color: #e1e7ea;
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#user-edit h2 {
  color: #0e9384;
  margin-bottom: 2rem;
}
#user-edit .user-names {
  display: flex;
  flex-direction: row;
}
#user-edit .user-names input[type=text] {
  margin: 0 0.2rem;
}
#user-edit p {
  margin-top: 1rem;
}
#user-edit a {
  margin: 2rem;
}
#user-edit .account-buttons {
  display: flex;
}
#user-edit .account-buttons input[type=submit] {
  border: none;
  background-color: transparent;
  outline: transparent;
  padding: 1rem;
  font-family: "Quicksand";
  font-size: 1rem;
  cursor: pointer;
  border-radius: 0.5rem;
  color: #0e9384;
}
#user-edit .account-buttons #delete-account {
  border: none;
  background-color: transparent;
  outline: transparent;
  padding: 1rem;
  font-family: "Quicksand";
  font-size: 1rem;
  cursor: pointer;
  border-radius: 0.5rem;
  color: red;
}

#error-page {
  display: flex;
  flex-direction: row;
  align-items: center;
}
#error-page .left-side {
  margin: 5rem;
}
#error-page .left-side p:first-child {
  color: #404e87;
  font-size: 0.9rem;
}
#error-page .left-side h1 {
  font-size: 3rem;
  color: #1b1d21;
}
#error-page .left-side p {
  font-size: 1rem;
}
#error-page .left-side .button-error {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 1rem;
}
#error-page .left-side .button-error #button-return {
  border: 1px solid #1b1d21;
  display: flex;
  background-color: transparent;
  outline: transparent;
  cursor: pointer;
  border-radius: 0.5rem;
  padding: 0.5rem;
}
#error-page .left-side .button-error #button-return img {
  padding: 0 0.5rem;
}
#error-page .left-side .button-error #home-redirection {
  border: 1px solid #1b1d21;
  display: flex;
  background-color: #92aad3;
  outline: transparent;
  cursor: pointer;
  border-radius: 0.5rem;
  padding: 0.5rem;
  color: #f8f8f8;
  font-family: "Quicksand";
  font-size: 1rem;
}
#error-page figure {
  margin: 1rem;
}
#error-page figure img {
  border-radius: 0.5rem;
}

#catalog-cards {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: space-evenly;
  margin: 1rem 5rem;
}

section#section-blog {
  margin-top: 20px;
}
section#section-blog p.sub-title-section {
  color: black;
  text-align: center;
  padding: 30px;
}
section#section-blog div#container-section-blog {
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  margin: 0 auto;
}
section#section-blog div#container-section-blog div.card-blog {
  width: 100%;
  max-width: 420px;
  height: 540px;
  background-color: #f8f8f8;
  border-radius: 8px 8px 0 0;
  overflow: hidden;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  margin: 0 5px 40px 5px;
  transition: all 0.5s ease;
}
@media screen and (min-width: 950px) {
  section#section-blog div#container-section-blog div.card-blog {
    width: 384px;
    height: 456px;
  }
  section#section-blog div#container-section-blog div.card-blog:hover .bg-image {
    transform: scale(1.1);
  }
}
section#section-blog div#container-section-blog div.card-blog div.card-blog-top {
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  margin: 0 auto;
}
section#section-blog div#container-section-blog div.card-blog div.card-blog-bottom {
  position: relative;
  padding: 30px 40px;
  text-align: center;
  height: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
section#section-blog div#container-section-blog div.card-blog div.card-blog-bottom p {
  margin-top: 15px;
}
section#section-blog div#container-section-blog div.card-blog div.card-blog {
  position: relative;
  text-align: center;
  height: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}/*# sourceMappingURL=style.css.map */