{% extends "template.html.twig" %}

{% block title %}Erreur 404{% endblock %}

{% block content %}
<section id="error-page">
    <div class="left-side">
        <p>Erreur 404</p>
        <h1>Page non trouvé</h1>
        <p>Désolé, nous n'avons pas pu trouver la page que vous recherchez.</p>
        <p>Voici quelques liens utiles :</p>

        <div class="button-error">
            <button id="button-return">
                <img src="{{ asset('/media/icons/arrow-left.svg')}}" alt="Back arrow svg">
                <p>Retour</p>
            </button>
            <button>Take me home, West Virginia </button>        
        </div>
    </div>

    <figure>
        <img src="{{ asset('/media/takemehome.webp') }}" alt="">
    </figure>

</section>

{% endblock %}