{% extends "templatedashboard.html.twig" %}

{% block title %}Mes articles
{% endblock %}

{% block content %}

<h1>Créer un nouvel article</h1>

<form  method="post" action="{{ path('addarticle') }}" enctype="multipart/form-data">
    <label for="title">Titre :</label>
    <input type="text" name="title" id="title" required><br>
    <label for="image">Image :</label>
    <input type="file" name="image" id="image"><br>
    <label for="extract">Extrait :</label>
    <textarea name="extract" id="extract" required></textarea><br>
    <label for="content">Contenu :</label>
    <textarea name="content" id="content" required></textarea><br>
    <input type="submit" value="Créer">
</form>

{% endblock %}
