{% extends "templatedashboard.html.twig" %}

{% block title %}Mon Compte
{% endblock %}

{% block content %}


<section id="user-edit">
<h2>Mon Compte</h2>

<p>Nom Légal</p>
<div class="user-names">
    <input type="text" name="firstname" value ="Prénom">
    <input type="text" name="lastname" value ="Nom">
</div>


<p>E-mail</p>
<input type="text" name="email" value="user@gmail.com">

<p>Numéro de Téléphone</p>
<input type="text" name="phoneNumber" value="06 66 66 66 66">

<p>Date de Naissance</p>
<input type="date" name="birthdate">

<a href="#">Rénitialiser mon mot de passe</a>

<div class="account-buttons">
    <input type="submit" value="Modifier" >
  
    <button><span>Supprimer mon compte</span></button>
</div>

</section>
{% endblock %}