<header class="limit-size">

	<div id="nav-menu">
		<nav>
			<ul>
				<a href="{{ path('home') }}"><img src="{{ asset('/media/logo.svg') }}"></a>

				<li><a href="#">Notre Catalogue</a></li>
				<li><a href="#">Notre Journal</a></li>

				<li><a href="#"><img src="{{ asset('/media/user.svg') }}" alt="Se connecter ou s'inscrire "></a></li>
			</ul>
		</nav>
	</div>

</header>