<header class="limit-size">

	<div id="nav-menu">
		<nav>
			<ul>
				<a href="{{ path('home') }}"><img src="{{ asset('/media') }}"></a>

				<li><a href="#">Explorer</a></li>
				<li><a href="#">Voyager</a></li>
				<li><a href="#">Type de logements</a></li>
				<li><a href="#">Journal</a></li>
			</ul>
		</nav>
	</div>

</header>