{% extends "template.html.twig" %}

{% block title %}Bienvenue sur Rbnb
{% endblock %}

{% block content %}
<section>
<h1>Bienvenue a Rbnb.</h1>


<a href="{{ path('tag') }}">tag</a>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos ipsum totam placeat sunt quaerat eligendi.</p>
</section>







{% endblock %}