{% extends "template.html.twig" %}

{% block title %}Bienvenue sur Rbnb
{% endblock %}

{% block content %}
<section>
<h1>Lorem ipsum dolor sit amet.</h1>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos ipsum totam placeat sunt quaerat eligendi.</p>
</section>
{% endblock %}