{% extends "template.html.twig" %}

{% block title %}
	Rejoignez-nous sur Loca'R
{% endblock %}

{% block content %}
<section id="registration">
    <div class="container right-panel-active">
        <div class="container__form container--signup">
            <form method="POST" action="{{ path('register') }}" class="form" id="form1">
                <h2 class="form__title">Inscrivez-vous</h2>
                <label for="firstName">Prénom*</label>
                <input type="text" id="firstName" name="firstName" placeholder="Votre prénom ici" class="input">

                <label for="lastName">Nom*</label>
                <input type="text" id="lastName" name="lastName" placeholder="Votre nom ici" class="input">

                <label for="email">Email*</label>
                <input type="email" id="email" name="email" placeholder="Votre email ici" class="input">

                <label for="password">Mot de passe*</label>
                <input type="password" id="password" name="password"
                    placeholder="Insérez votre mot de passe (8 caractères minimum)" class="input">

                <button type="submit" name="submit" class="main-button-style">
                    <span>S'inscrire</span>
                </button>
            </form>
        </div>

        <div class="container__form container--signin">
            <form action="{{ path('loginForm') }}" method="POST" class="form" id="form2">
                <h2 class="form__title">Bienvenue</h2>

                <label for="email">Email :</label>
                <input type="email" id="email" name="email" placeholder="Votre email ici" class="input">

                <label for="password">Mot de passe :</label>
                <input type="password" id="password" name="password" placeholder="Mot de passe" class="input">

                {# <input type="checkbox" name="rememberMe" id="rememberMe">
                <label for="rememberMe">Se souvenir de cet ordinateur pendant 30 jours</label> #}

                <a href="#" class="link">Mot de passe oublié?</a>

                <button type="submit" class="main-button-style">
				<span>Se connecter</span>
				</button>
            </form>
        </div>

        <div class="container__overlay">
            <div class="overlay">
                <div class="overlay__panel overlay--left">
                    <button class="btn" id="signIn">Se connecter</button>
                </div>
                <div class="overlay__panel overlay--right">
                    <button class="btn" id="signUp">S'inscrire</button>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
