<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
    {% block stylesheet %}{% endblock %}
    <link rel="stylesheet" href="{{ asset('/css/font.css') }}" />
    <link rel="stylesheet" href="{{ asset('/css/style.css') }}" />

    <title>{% block title %}Loca'R{% endblock %}</title>
  </head>

  <body>
    {% include 'header.html.twig' %}
    <main class="limit-size">
    {% block content %}

    {% endblock %}
    </main>

    {% block javascript %}{% endblock %}
    <script src="{{ asset('/js/main.js') }}"></script>
    
    {% include 'footer.html.twig' %}

    <script
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDTkV0SRCLJ9DnzywThlI_HwT8W6-KRL_Q&callback=initMap&v=weekly"
      defer
    ></script>

  </body>
</html>
